<html>

<head>
    <title>Whyther - Home</title>
    {{> head }}
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    {{> navbar }}

    <section class="hero">
        <div>
            <h1>Whyther?</h1>
            <p>Why to whether to check the weather? Check out our weather webapp!</p>
            <a href="/weather">check it out</a>
        </div>
        <img src="./images/heroimg.png">
    </section>

    {{> footer }}
</body>

</html>